.idea
.DS_Store
themes/.DS_Store
/resources
.obsidian
/templates
/static

# 忽略 public 目录下的所有文件
/public/*

# 但保留 ads.txt 和 CNAME 文件
!/public/ads.txt
!/public/CNAME
!/public/baidu_verify_codeva-ytplSl8XeI.html
!/public/f7a353334f9e4d599d662c569c580425.txt