{{- $context := .Context -}}
{{- $params := .Params -}}

<section class="widget">
    <div class="widget-icon">
        {{ partial "helper/icon" "ad" }}
    </div>
    <h2 class="widget-title section-title">
        {{ $context.Site.Params.ad.title }}
    </h2>
    <div class="stack-widget-ad-card">
        <!-- ad-style-1 -->
        <ins class="adsbygoogle" style="display:block; max-width:100%; width:100%; height:auto;"
            data-ad-client="ca-pub-7167312285165454" data-ad-slot="3692601567" data-ad-format="auto"
            data-full-width-responsive="true"></ins>
    </div>
</section>

<script>
    // 异步加载Google AdSense脚本
    (function() {
        var script = document.createElement('script');
        script.async = true;
        script.src = 'https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7167312285165454';
        script.crossOrigin = 'anonymous';
        
        script.onload = function() {
            // 脚本加载完成后初始化广告
            (adsbygoogle = window.adsbygoogle || []).push({});
        };
        // 脚本加载超时处理
        script.onTimeout = function() {
            console.error('Google AdSense脚本加载超时');
        };
        // 脚本加载失败时的处理
        script.onerror = function() {
            console.error('Google AdSense脚本加载失败');
        };
        
        document.head.appendChild(script);
    })();
</script>