{{- $context := .Context -}}
{{- $params := .Params -}}

<section class="widget popular">
    <div class="widget-icon">
        {{ partial "helper/icon" "flame" }}
    </div>
    <h2 class="widget-title section-title">
        {{ $context.Site.Params.popular.title }}
    </h2>
    <div class="stack-widget-popular-card">
        <div class="stack-widget-popular-section">
            {{- range $context.Site.Params.popular.items }}
            <a href="{{ .href }}" {{ if .target }} target="{{ .target }}" {{ end }}
                class="stack-widget-popular-item-link">
                <div class="stack-widget-popular-item">
                    <span class="stack-widget-popular-label">{{ partial "helper/icon" .icon }}</span>
                    <div class="stack-widget-popular-text">
                        {{ .text }}
                    </div>
                    <div class="stack-widget-popular-views">
                        {{ if .views }}{{ .views }} 阅读{{ end }}
                    </div>
                </div>
            </a>
            {{- end }}
        </div>
    </div>
</section>